In [1]:
import pandas as pd

In [7]:
df = pd.read_excel('../data/transactions.xlsx')
df.head()

,UUID,IdCustomer,DtTransaction,Points
0,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643,1
2,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728,500
3,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063,1
4,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288,500

In [9]:
# encontra a última transação de cada IdCustomer
df_last = df.sort_values(by='DtTransaction', ascending=False).drop_duplicates(subset=['IdCustomer'])
df_last.head()

,UUID,IdCustomer,DtTransaction,Points
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23495,aeb17cd4-36ae-43ae-9c18-c37fb91f292e,3f55b86f-dc21-4ac8-8e89-7c1535359eaf,2024-03-04 12:24:09.030,1

In [14]:
# como testar se está correto?
# pegar infos do df original e comparar com df_last

condicao = df['IdCustomer'] == '5f8fcbe0-6014-43f8-8b83-38cf2f4887b3'
df[condicao].sort_values(by='DtTransaction', ascending=False).drop_duplicates(subset=['IdCustomer'])

,UUID,IdCustomer,DtTransaction,Points
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1

In [15]:
df_last[condicao]

/tmp/ipykernel_24017/121684441.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_last[condicao]

,UUID,IdCustomer,DtTransaction,Points
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1