In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/customers.csv', sep=';')
df.head()

                                   UUID           Name  Points
0  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b      afonso_rf     792
1  2d3d2dce-d353-4961-ad39-46723efe2100  mariicmartins    1375
2  ca95ef2a-5129-40f4-acbc-2ced25940032        tdlupus     421
3  65662aff-44d6-4f06-b9d9-07445c6e5943         kozat0    4063
4  98b960e7-6b7b-45b7-b7af-60bca40e04b9         gu1z17       0

In [14]:
df.dtypes

UUID      object
Name      object
Points     int64
dtype: object

In [15]:
# converter coluna pontos para String para concatenar algo

df['Points'].astype(str)

0       792
1      1375
2       421
3      4063
4         0
       ...
786      53
787      50
788      50
789      50
790      52
Name: Points, Length: 791, dtype: object

In [19]:
df['lista'] = [[1,2] for i in df.index]
df.head()

In [21]:
# tipo object -> Python usa este tipo para 
# coisas genéricas (quando não consegue identificar 100% o tipo usado)
df.dtypes

UUID             object
Name             object
Points            int64
Points_double     int64
lista            object
dtype: object